html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  color: #fff; }

a {
  text-decoration: none; }

.headline {
  text-transform: uppercase;
  font-weight: 700; }

.typed {
  color: #fff;
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.button {
  color: #fff;
  border: solid 2px #b45649;
  border-radius: 5px;
  padding: 15px 35px;
  line-height: 7em;
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer; }
  .button:hover {
    background: #b45649; }

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Proxima Nova', sans-serif;
  background: #0f0f0f; }

nav {
  position: fixed;
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between; }

ul.navigation {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  ul.navigation .logo {
    height: 100%;
    width: 85px;
    background: url(../img/logo.svg) no-repeat center center;
    background-size: 50px; }
  ul.navigation li {
    height: 100%;
    top: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    ul.navigation li a {
      font-size: 1em;
      display: inline-block;
      color: #fff;
      padding: 20px;
      margin: 0px 20px;
      border-bottom: solid 2px transparent; }
      ul.navigation li a:hover {
        border-bottom: solid 2px #b45649; }

ul.social {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-right: 10px; }
  ul.social li {
    padding: 0px 10px; }
    ul.social li img {
      height: 30px; }

.hello {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 2px; }

.bottom-portion {
  width: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.name {
  color: #b45649;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 20em;
  font-weight: 700; }
  .name .me-with-e {
    margin: 45px -100px 0px -155px;
    vertical-align: top; }

.call-to-action {
  padding: 50px;
  height: 100%; }
