h1 {
    color: #fff;
}

a {
    text-decoration: none;
}

// Semantic Type
.headline {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 10em;
    font-weight: 700;
}

.typed {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button {
    color: #fff;
    border: solid 2px $salmon;
    border-radius: 5px;
    padding: 15px 35px;
    line-height: 7em;
    margin-right: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        background: $salmon;
    }
}
