h1 {
    color: #fff;
}

a {
    text-decoration: none;
}

// Semantic Type

.headline {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 10em;
    font-weight: 700;
}

.typed {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}
