h1 {
    color: #fff;
}

a {
    text-decoration: none;
}

// Semantic Type
.headline {
    font-size: 10em;
    text-transform: uppercase;
    font-weight: 700;
}

.typed {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: left !important;
}

.button {
    color: #fff;
    border: solid 2px $salmon;
    border-radius: 5px;
    padding: 15px 35px;
    line-height: 7em;
    margin-right: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.8em;
    &:hover {
        background: $salmon;
    }
    @include bp(alpha) {
        display: block;
        line-height: 2em;
        margin: 15px 0px;
    }
}
