// Meyer CSS reset
@import "reset";

// Bourbon Library
@import "bourbon";

// Variables & Mixins
@import "variables";
@import "mixins";

// Fonts
@import "fonts";

// Vendor Libraries
@import "typed";

// Global structures
*, *:before, *:after {
    @include box-sizing(border-box);
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background: $slate;
}

nav {
    position: fixed;
    width: 100%; height: $nav-height;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
} // End Nav


ul.navigation {
    height: 100%;
    @include flexbox();
    align-items: center;

    .logo {
        height: 100%; width: $nav-height;
        background: url(../img/logo.svg) no-repeat center center;
        background-size: 50px;
    }

    li {
        height: 100%;
        top: 0px;
        @include flexbox();
        align-items: center;

        a {
            font-size: 1em;
            display: inline-block;
            color: #fff;
            padding: 20px;
            margin: 0px 20px;
            border-bottom: solid 2px transparent;
            &:hover {
                border-bottom: solid 2px $salmon;
            }
        }
    }
} // End ul.navigation

ul.social {
    height: 100%;
    @include flexbox();
    align-items: center;
    padding-right: 10px;
    li {
        padding: 0px 10px;
        img {
            height: 30px;
        }
    }
}

// HELLO MY NAME IS
.hello {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 50px;
    @include bp(alpha) {
        width: 90%;
        position: relative;
        margin: auto;
        padding: 0px;
        text-align: center;
        top: $nav-height + 40;
    }
}

.bottom-portion {
    width: 100%;
    @include flexbox();
    align-items: flex-start;
    justify-content: space-between;
    @include bp(beta) {
        flex-direction: column;
        justify-content: center;
    }
}

.name-container {
    width: 50%;
    @include bp(beta) {
        width: 100%;
    }
}

.name {
    color: $salmon;
    text-transform: uppercase;
    font-size: 20em;
    font-weight: 700;

    .me-with-e {
        width: 45%;
        margin: 4.70% -11% 0 -13%;
        vertical-align: top;
    }
}

.call-to-action {
    padding: 50px;
    height: 100%; width: 50%;
    @include bp(beta) {
        width: 100% !important;
    }
}
